<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>New Ninja</title>
</head>
<body>
    <div class="row">
    <!-- Left side -->
        <div class="col">
            <h2>New Ninja</h2>
            <form action="/ninjas/create" method="post">
                <div class="mb-3">
                    <select class="form-select" name="dojo_id">
                        <option selected>Choose Dojo....</option>
                        {% for dojo in dojos %}
                        <option value="{{ dojo.id }}">{{ dojo.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="mb-3">
                        <label  class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" name="first_name">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" name="last_name">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Age:</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" name="age">
                    </div>
                    <input type="submit" value="Create">
                </div>
            </form>
            <a href="/dojos">Home</a>
        </div>
    </div>
</body>
</html>